@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}

:root {
  --white: #ffffff;
  --blue-300: #D0D6F9;
  --black-900: #0B0D17;

  /* Fonts */
  --main: "Barlow", sans-serif;
  --primary: "Barlow Condensed", sans-serif;
  --bellefair: "Bellefair", serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  color: var(--white);
}

.bellefair-regular {
  font-family: var(--bellefair);
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1110px;
  padding: 0px 2%;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;

  margin-top: 40px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.menu{
  width: 48%;
  height: 96px;
  /* max-width: 736px; */
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(36px);

  z-index: 9;

  position: absolute;
  right: 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 54%;
  /* max-width: 736px; */
  padding-left: 60px;

  z-index: 999;
}

.logo img {
  width: 48px;
  height: 48px;
  margin-right: 60px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.links {
  padding-right: 60px;
  width: 86%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu a {
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  font-weight: 200;

  border-bottom: 4px solid transparent;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu a strong {
  font-weight: 600;
  margin-right: 8px;
}

.menu a:hover {
  border-bottom: 4px solid #fff;

}

.separator {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
}

/* Banner */
.banner {
  width: 100%;
  height: 100vh;
  background-image: url('./assets/home/background-home-desktop.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: flex-end;
}

.hero {
  width: 100%;
  height: 100%;
  max-height: 632px;
  display: flex;

  margin-bottom: 126px;
  justify-items: center;
  justify-content: space-between;
  align-items: flex-end;
}

.content {
  width: 100%;
  max-width: 550px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  color: var(--blue-300);
  text-align: left;
}

.content span {
  letter-spacing: 4px;
  font-size: 28px;
  color: var(--blue-300);
  font-weight: 200;
  font-family: var(--primary);
  text-transform: uppercase;
  margin-top: 32px;
}


.content h1 {
  font-size: 144px;
  font-family: var(--bellefair);
  font-weight: 400;
  font-style: normal;
  color: var(--white);
  text-transform: uppercase;
}

.content p {
  font-size: 18px;
  font-weight: 100;
  font-family: var(--main);
  line-height: 32px;
}



.btn-explore button {
  width: 272px;
  height: 272px;
  font-size: 32px;
  border: none;
  border-radius: 50%;
  background-color: var(--white);
  font-family: var(--bellefair);
  text-transform: uppercase;
}